

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Funnel+Display:wght@300..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tagesschrift&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', sans-serif;
    box-sizing: border-box;
    font-size: 19px;
}

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      
         background-image: url('login_background_less_blur.jpg');
         
        background-size: cover;



    }

    header{
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
    }
    
        .logo{
            font-size: 2em;
            color: #fff;
            user-select: none;

        }

        .navigation a{
            position: relative;
            font-size: 1.1em;
            color: #fff;
            text-decoration: none;
            font-weight: 500;
            margin-left: 40px;
        }

                .navigation a::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -6px;
                    width: 100%;
                    height: 3px;
                    background: #fff;
                    border-radius: 5px;
                    transform: scaleX(0);
                   transition: transform .5s;

                }

                .navigation a:hover::after{
                   transform: scaleX(1);

                }

        .navigation .btnlogin-popup{
            width: 130px;
            height: 50px;
            background: transparent;
            border: 2px solid #fff;
            outline: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 1.1em;
            color: #fff;
            font-weight: 500;
            margin-left: 40px;
            transition: .5s;

        }

                .navigation .btnlogin-popup:hover{
                    background-color: #fff;
                    color: #162938;
                }

                .wrapper {
                    position: relative;
                    height: 520px;
                    width: 520px;
                    background: transparent;
                    border: 2px solid rgba(255, 255, 255, 5);
                   border-radius: 20px;
                   backdrop-filter: blur(20px);
                   box-shadow: 0 0 30px rgba(87, 96, 84, 0.5); 
                   display: flex;
                   justify-content: center;
                   align-items: center;
                    overflow: hidden; 
                    transform: scale(0);
                    transition: transform .5s ease, height .2s ease;
                 
                }

                .wrapper.active-popup {
                    transform: scale(1);
                }



                .wrapper.active{
                    height: 520px;

                }


                .wrapper .form-box {
                    width: 100%;
                    padding: 40px;

                }

                .wrapper .form-box.login {
                    transition: transform .18s ease;
                    transform: translateX(0);
                    
                }

                .wrapper.active .form-box.login{
                    transition: none;
                    transform: translateX(-477px);
                }

                .wrapper .form-box.register {
                    position: absolute;
                    transition: none;
                    transform: translateX(500px);
                    
                }

            .wrapper.active .form-box.register{
                    transition: transform .18s ease;
                    transform: translateX(0);
        
                }

                .wrapper .icon-close{
                    position: absolute;
                    width: 45px;
                    top: 0;
                    right: 0;
                    height: 45px;
                    background: #285b7b;
                    font-size: 2em;
                    color: #c5e6ff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-bottom-left-radius: .5em;
                    cursor: pointer;
                    z-index: 1;
                }

                .form-box h2 {
                    font-size: 2em;
                    color: #c5e6ff;
                    text-align: center;
                }


                .input-box {
                    position: relative;
                    width: 100%;
                    height: 50px;
                    border-bottom: 2px solid #162938;
                    margin: 30px 0;
                

                }

                .input-box label {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    font-size: 1em;
                    color: #c5e6ff;
                    font-weight: 500;
                    pointer-events: none;
                    transition: .5s;
                    

                     
                }

                .input-box input:focus~label,
                .input-box input:valid~label {
                    top: -5px;

                }

                .input-box input {
                    
                        width: 100%;
                        height: 100%;
                        background: transparent;
                        border: none;
                        outline: none;
                        font-size: 1em;
                        color: #DDE9EF;
                        font-weight: 600;
                        padding: 0 35px 0 5px;
                }

                .input-box .icon {
                    position: absolute;
                    right: 8px;
                    font-size: 1.2em;
                    color: #c5e6ff;
                    line-height: 57px;

                }
                 
                .remember-forgot {
                    font-size: .9em;
                    color: #c5e6ff;
                    font-weight: 500;
                    margin: -15px 0 15px;
                    display: flex;
                    justify-content: space-between;
                }

                .remember-forgot label input {
                    accent-color: #285b7b;
                    margin-right: 3px;

                }

                .remember-forgot a {
                    color: #c5e6ff;
                    text-decoration: none;
                    
                }

                .remember-forgot a:hover{
                    text-decoration: underline;

                }

                .btn {
                    width: 100%;
                    height: 45px;
                    background: #285b7b;
                    border: none;
                    outline: none;
                    border-radius: 6px;
                    cursor: pointer;
                    font-size: 1em;
                    color: #fff;
                    font-weight: 500;

                }

                .login-register {
                    font-size: 1em;
                    color: #c5e6ff;
                    text-align: center;
                    font-weight: 500;
                    margin: 45px 0 10px;
                 
                }

                .login-register p a {
                    color: #c5e6ff;
                    text-decoration: none;
                font-weight: 600;
                  
                }

                .login-register p a:hover {
                    text-decoration: underline;
          
              
                
                }